@import "tailwindcss";

@font-face {
  font-family: "InterTight Bold";
  src: url(/assets/font/Inter_Tight/static/InterTight-Bold.ttf) format("woff2");
}
@font-face {
  font-family: "InterTight Medium";
  src: url(/assets/font/Inter_Tight/static/InterTight-Medium.ttf)
    format("woff2");
}
@font-face {
  font-family: "InterTight Thin";
  src: url(/assets/font/Inter_Tight/static/InterTight-Thin.ttf) format("woff2");
}

:root {
  --btn_bg_lite: linear-gradient(
    to right,
    rgb(251, 146, 60),
    rgb(250, 204, 21),
    rgb(252, 211, 77)
  );
  --btn_bg_bark: linear-gradient(
    to right,
    rgb(79, 70, 229),
    rgb(147, 51, 234),
    rgb(37, 99, 235)
  );

  /* LIGHT MODE COLORS ====================== */
  --sunny_day: linear-gradient(135deg, #74b9ff 0%, #0984e3 50%, #6c5ce7 100%);

  /* DARK MODE COLORS ====================== */
  --moon_night: linear-gradient(135deg, #2d3436 0%, #6c5ce7 50%, #000000 100%);
}

@layer utilities {
  .max_width {
    margin: 50px auto;
    width: 90%;
    max-width: 1920px;
  }
  .margin_auto{
    margin: 0 auto;
  }
  .btn_bg_lite {
    background: var(--btn_bg_lite);
  }
  .btn_bg_bark {
    background: var(--btn_bg_bark);
  }
  .sunny_day {
    background: var(--sunny_day);
  }
  .moon_night {
    background: var(--moon_night);
  }
  .header {
    margin: 50px auto;
    font-family: "InterTight Bold";
    font-size: clamp(40px, 6.6vw, 50px);
  }
  .inter_medium {
    font-family: "InterTight Medium";
  }
}

body {
  color: #ffffff;
}
