@import "tailwindcss";

:root {
  --btn_bg_lite: linear-gradient(
    to right,
    rgb(251, 146, 60),
    rgb(250, 204, 21),
    rgb(252, 211, 77)
  );
  --btn_bg_bark: linear-gradient(
    to right,
    rgb(79, 70, 229),
    rgb(147, 51, 234),
    rgb(37, 99, 235)
  );

  /* LIGHT MODE COLORS ====================== */
  --sunny_day: linear-gradient(135deg, #74b9ff 0%, #0984e3 50%, #6c5ce7 100%);

  /* DARK MODE COLORS ====================== */
  --moon_night: linear-gradient(135deg, #2d3436 0%, #6c5ce7 50%, #000000 100%);
}

@layer utilities {
  .max_width {
    margin: 50px auto;
    width: 90%;
    max-width: 1920px;
  }
  .btn_bg_lite {
    background: var(--btn_bg_lite);
  }
  .btn_bg_bark {
    background: var(--btn_bg_bark);
  }
  .sunny_day {
    background: var(--sunny_day);
  }
  .moon_night {
    background: var(--moon_night);
  }
}
